.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call-answer {
	font-size:(348.077/10)*1rem;
	width:(348.077/348.077)*1em;
}
.icon-email-filled {
	font-size:(612/10)*1rem;
	width:(612/612)*1em;
}
.icon-filled-point {
	font-size:(97.713/10)*1rem;
	width:(97.713/97.713)*1em;
}
.icon-heart {
	font-size:(492.72/10)*1rem;
	width:(492.72/492.72)*1em;
}
.icon-mobile-phone {
	font-size:(792/10)*1rem;
	width:(792/792)*1em;
}
